<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="coffeeApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="coffeeApp.product.id">Id</span></dt>
          <dd>
            <span>{{ product.id }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.name">Name</span></dt>
          <dd>
            <span>{{ product.name }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.description">Description</span></dt>
          <dd>
            <span>{{ product.description }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.price">Price</span></dt>
          <dd>
            <span>{{ product.price }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.imageKey">Image Key</span></dt>
          <dd>
            <span>{{ product.imageKey }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.gram">Gram</span></dt>
          <dd>
            <span>{{ product.gram }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.calories">Calories</span></dt>
          <dd>
            <span>{{ product.calories }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.type">Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'coffeeApp.ProductType.' + product.type }}">{{ product.type }}</span>
          </dd>
          <dt><span jhiTranslate="coffeeApp.product.isDiet">Is Diet</span></dt>
          <dd>
            <span>{{ product.isDiet }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
