<div class="container my-5">
  <div class="row">
    @for (product of coffeeList; track product.id) {
      <div class="col-4 mb-5">
        <div class="card">
          <div class="card-header">
            <h3 class="card-hover__title">Make your <span>choice</span> with {{ product.name || 'Coffee' }}</h3>
          </div>
          <div class="card-body p-0">
            <app-image [imageKey]="product?.imageKey"></app-image>
            <div class="p-3">
              <p class="d-flex justify-content-between">
                <span> Calories</span> <span> {{ product.calories }}</span>
              </p>
              <p class="d-flex justify-content-between">
                <span> Diet Coffee</span>
                <span class="text-white p-1" [ngClass]="product.isDiet ? 'bg-success' : 'bg-danger'">
                  {{ product.isDiet ? 'Yes' : 'No' }}</span
                >
              </p>
              <p class="d-flex justify-content-between">
                <span> Description</span> <span> {{ product.description }}</span>
              </p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <span>
                  {{ product.type }}
                </span>
                <span> {{ product.price }}$ </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <!--    <img  [src]="getImage(coffeeList[0].imageKey)" [alt]="coffeeList[0].imageKey" alt="">-->
    <!--    <img [src]="getImage(data12?.imageKey)" alt="">-->
  </div>
</div>
